.card {
  height: 100%;

  .card-header {
    // background: radial-gradient(#3C3C41, #202020);
    background: #EAECEE;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
